.image {
    background-image: url('/assets/servicemain.jpg');
    background-color: #12353f;
    background-repeat: no-repeat;
}

.t {
    padding: 10%;
    background-color: #12353fbc;
}



.img-fluid {
    max-width: 100%;
}

.p {
    font-size: 19px;
}

img:hover {
    border-radius: 25%;

    :is(p) {
        color: #12353f;
    }

}