<div class="main">
    <div class="image">
        <div class="text-center t">
            <div class="justify-content-center align-items-center h-100">
                <h1 class="text-white">Portfolio</h1>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-image" [routerLink]="['/client']">
                <img src="/assets/gallery/1.jpg" class="img-fluid" alt="Sample" />
                <div class="mask" style="background-color: #12353f7c;">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <p class="text-white mb-0 p">Client Name</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>