<div class="main">
    <div class="bg-image">
        <div class="text-center t">
            <div class="justify-content-center align-items-center h-100">
                <h1 class="text-white">About Us</h1>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img" src="/assets/abouts.jpg" alt="">
            <br>
        </div> <br>

        <div class="col-md-6">
            <br>
            <h1 style="color: #f8bd4b;font-weight: 600;">Our <span style="color: #12353f;font-weight: 600;">
                    Story</span></h1>
            <br>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ullam facere? Quaerat fugit
                minima non magnam ullam, debitis aut ducimus expedita cumque vitae quos dolorum minus? Quidem natus ut
                assumenda!
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, tenetur laudantium aut nisi enim
                deleniti error omnis nostrum debitis dolor eaque tempora, laborum quisquam porro? Aspernatur aliquid
                officiis quia nihil! <br> <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis fuga maiores accusantium tempora fugiat
                commodi ratione optio quas quae dicta quisquam accusamus pariatur, sit recusandae nostrum voluptates
                nulla? Quam, sit.
            </p>
            <br>

            <button class="btn btn-warning btn-lg" [routerLink]="['/contact']"><b>Contact Us Now</b></button>
        </div><br>
    </div><br>
</div>
<br><br>

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4"> <img src="/assets/about/teamwork.png" class="iconimg" alt=""></div><br>
                    <div class="col-md-6"><br><br>
                        <h5>AMAZING TEAM</h5>
                        <p>Our team is creative & brings <br> new ideas.</p>
                    </div><br>
                </div>
            </div><br>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4"> <img src="/assets/about/uniqueness.png" class="iconimg" alt=""></div><br>
                    <div class="col-md-6"><br><br>
                        <h5>UNIQUE DESIGN</h5>
                        <p>Our design is as unique as space.</p>
                    </div><br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/about/Practical-knowledge.png" class="iconimg" alt="">
                    </div><br>
                    <div class="col-md-6"> <br> <br>
                        <h5>PRACTICAL KNOWLEDGE</h5>
                        <p> We learn spaces & implement design based on practical knowledge.</p>
                    </div><br>
                </div>
            </div><br>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/about/satisfaction.png" class="iconimg" alt="">
                    </div><br>
                    <div class="col-md-6"> <br> <br>
                        <h5>SATISFACTORY WORK</h5>
                        <p> We deliver our work that satisfies client needs.</p>
                    </div><br>
                </div>
            </div>
        </div>

    </div>
</div>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img class="missionimg" src="/assets/about/image.jpg" alt="">
            <br><br>
        </div><br>
        <div class="col-md-5">
<br><br>
            <div class="card cardd"><br>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Our Mission</h4>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, quibusdam
                                facilis.
                                Soluta vel asperiores quam quis officiis fugiat beatae, provident iusto, illum
                                quisquam
                                corrupti? Voluptatibus architecto quo corporis. Impedit, repudiandae.
                            </p>
                        </div>
                        <div class="col-md-12"> <br>
                            <h4>Our Vission</h4>

                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, quibusdam
                                facilis.
                                Soluta vel asperiores quam quis officiis fugiat beatae, provident iusto, illum
                                quisquam
                                corrupti? Voluptatibus architecto quo corporis. Impedit, repudiandae.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <br>
        </div><br>
    </div>
</div><br>

<div class="container">
    <div class="why">
        <div class="container">
            <div class="text-center">
                <h2 style="color: #f8bd4b;font-weight: 600;">Why Choose <span
                        style="color: #12353f;font-weight: 600;">Us</span></h2> <br>
            </div>
            <br>
            <div class="row">
                <div class="col-4 col-md-2">
                    <div class="text-center">
                        <img class="imgicon" src="/assets/iconinterior/1.png" alt="">
                        <br><br>
                        <h6>UP-TO 10 YEAR'S WARRANTY</h6>
                    </div><br>
                </div><br>

                <div class="col-4 col-md-2">
                    <div class="text-center">
                        <img class="" width="100" src="/assets/iconinterior/2.png" alt="">
                        <br><br>
                        <h6>NO HIDDEN <br>
                            COSTS</h6>
                    </div><br>
                </div><br>

                <div class="col-4 col-md-2">
                    <div class="text-center">
                        <img class="imgicon" src="/assets/iconinterior/3.png" alt="">
                        <br><br>
                        <h6>POST INSTALLATION SERVICES</h6>
                    </div><br>
                </div><br>

                <div class="col-4 col-md-2">
                    <div class="text-center">
                        <img class="imgicon" src="/assets/iconinterior/4.png" alt="">
                        <br><br>
                        <h6>STRESS FREE <br> SERVICE</h6>
                    </div><br>
                </div><br>

                <div class="col-4 col-md-2">
                    <div class="text-center">
                        <img class="imgicon" src="/assets/iconinterior/5.png" alt="">
                        <br><br>
                        <h6>ON-TIME <br> DELIVERY</h6>
                    </div><br>
                </div><br>

                <div class="col-4 col-md-2 ">
                    <div class="text-center">
                        <img class="imgicon" src="/assets/iconinterior/6.png" alt="">
                        <br><br>
                        <h6>SUPER QUALITY PRODUCTS</h6>
                    </div><br>
                </div><br>
            </div>
        </div>
    </div>
</div>