<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="container dropups">
    <!-- Default dropup button -->
    <!-- <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropup
        </button>
        <ul class="dropdown-menu">
           <li> <h6>Example heading <span class="badge badge-primary">New</span></h6></li> <br>
           <li> <h6>Example heading <span class="badge badge-primary">New</span></h6></li>
        </ul>
    </div> -->

    <!-- Split dropup button -->
    <div class="btn-group dropup">
        <button type="button" class="btn btn-warning btn-lg btns">
            Schedule a Consulation!
        </button>
        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split  btn-lg btns"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-plus fa-2xl"></i>
            <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
        </button>
        <ul class="dropdown-menu">
            <!-- Dropdown menu links -->
            <li><a class="dropdown-item" href="tel:+91 8586958960" >
                    <h6>Give us a call! <span class="btn-floating" style="float: inline-end;"><i
                                class="fa-solid fa-phone-volume fa-2xl"></i></span></h6>
                </a></li>
            <br>
            <li><a class="dropdown-item" href="" [routerLink]="['/contact']">
                    <h6> Get a Quote! <span class=" btn-floating" style="float: inline-end;"><i
                                class="fa-solid fa-comment-sms fa-2xl"></i></span></h6>
                </a>
            </li><br>
            <li><a class="dropdown-item" href="#">
                    <h6> Email Us <span class=" btn-floating" style="float: inline-end;">
                            <i class="fa-solid fa-envelope fa-2xl"></i>
                        </span>
                    </h6>
                </a>
            </li>
            <br>
            <li><a class="dropdown-item" href="https://www.instagram.com">
                    <h6>Follow on Instagram <span class=" btn-floating" style="float: inline-end;"> <i
                                class="fa-brands fa-instagram "></i></span></h6>
                </a>
            </li>
             <br>

            <li class="wh"><a class="dropdown-item" href="https://wa.me/919119748540?text=Hii%20welcome"
                    target="_blank">
                    <h6>Let's chat!<span class=" btn-floating" style="float: inline-end;"><i
                                class="fa-brands fa-whatsapp fa-2xl"></i></span></h6>
                </a>
            </li>
        </ul>
    </div>
</div>
<app-footer></app-footer>