<div class="main">
    <div class="bg-image">
        <div class="text-center t">
            <div class="justify-content-center align-items-center h-100">
                <h1 class="text-white">Portfolio</h1>
            </div>
        </div>
    </div>
</div>


<div class="main">
    <div class="container"> <br> <br>
        <div class="text-start">
            <h5>Client Name :</h5>
            <p>Builder:</p>
            <p>Information :</p>
        </div>
    </div>
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/gallery/1.jpg" alt="">
                <br>
            </div><br>
            <div class="col-md-4">
                <img src="/assets/gallery/1.jpg" alt="">
                <br>
            </div><br>
            <div class="col-md-4">
                <img src="/assets/gallery/1.jpg" alt="">
                <br><br>
            </div><br>
            <div class="col-md-4">
                <img src="/assets/gallery/1.jpg" alt="">
                <br>
            </div><br>
            <div class="col-md-4">
                <img src="/assets/gallery/1.jpg" alt="">
                <br>
            </div><br>
            <div class="col-md-4">
                <img src="/assets/gallery/1.jpg" alt="">
                <br>
            </div><br>
        </div>
    </div>
</div>