<div class="main">
    <div class="bg-image">
        <div class="text-center t">
            <div class="justify-content-center align-items-center h-100">
                <h1 class="text-white">Services</h1>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class=" ">
                        <div class="card-body"> <div class="text-center">
                            <img src="/assets/service/officerevolution2.jpg" alt="" class="imgleft">
                        </div>
                        </div>
                    </div>
                    <br>
                </div><br>
                <div class="col-md-6"> <br><br>
                    <h2> Modular Kitchen</h2>
                    <br>
                    <p style="font-size: large;">Efficient and inviting kitchens are desirable to modern homeowners, and
                        we offer only those that combine functionality with style.
                        From simple interiors to extravagant
                        modules..
                    </p>
                    <button class="btn btn-warning btn-rounded btn-lg" [routerLink]="['/modular kitchen']">Learn
                        More</button>
                </div><br>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6"><br><br>
                    <h2>Full Home Interiors</h2>
                    <br>
                    <p style="font-size: large;">Embark on a luxurious journey where every corner of your home becomes
                        an outstanding design marvel. <br> From the cozy warmth of your bedroom retreat to the heart of
                        your
                        home, the kitchen..
                    </p>
                    <button class="btn btn-warning btn-rounded btn-lg" [routerLink]="['/modular kitchen']">Learn
                        More</button>
                </div><br>
                <div class="col-md-6">
                    <div class=" w">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="/assets/service/officerevolution2.jpg" alt="" class="imgleft">
                            </div>
                        </div>
                    </div>
                    <br>
                </div><br>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <div class=" ">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="/assets/service/officerevolution2.jpg" alt="" class="imgleft">
                            </div>
                        </div>
                    </div>
                    <br>
                </div><br>
                <div class="col-md-6"><br><br>
                    <h2>Office Interiors</h2>
                    <br>
                    <p style="font-size: large;">Transform your office space with us into a vibrant hub of creativity
                        and productivity. <br> At Interioarty, we understand the importance of a well-designed workspace
                        that
                        reflects your brand identity and fosters a positive work environment.
                    </p>
                    <button class="btn btn-warning btn-rounded btn-lg" [routerLink]="['/modular kitchen']">Learn
                        More</button>
                </div><br>
            </div>
            <br><br>

            <div class="row tt">
                <div class="col-md-6"> <br><br>
                    <h2>Home & Office
                        Renovation</h2>
                    <br>
                    <p style="font-size: large;">Step into a world of endless possibilities with our transformative
                        decor solutions. <br> From breathing new life into your home to revitalizing your office space,
                        our
                        team turns your renovation dreams into reality.
                    </p>
                    <button class="btn btn-warning btn-rounded btn-lg" [routerLink]="['/modular kitchen']">Learn
                        More</button>
                </div><br>
                <div class="col-md-6">
                    <div class=" w">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="/assets/service/officerevolution2.jpg" alt="" class="imgright">
                            </div>
                        </div>
                    </div>
                    <br>
                </div><br>
            </div>
            <br><br>
        </div>
    </div>
</div>